.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-surface);
  color: var(--color-light-contrast);
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--font-size-small);
}
