.inputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  gap: 8px;
  border: solid 0.8px var(--color-border);
  background-color: var(--color-surface);
}

.inputWrapper:focus-within {
  outline: 1px solid var(--color-accent-focus);
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-body);
}

.withIcon {
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.input {
  flex: 1;
  border: none;
  background: transparent;
  width: 100%;
  padding: 8px 0px;
  font-size: var(--font-size-body);
}

.input:focus {
  outline: none;
}
