.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  gap: 15px;
  height: 100%;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-card);
  border: 0.2px solid var(--border-default);
}

.title {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author,
.date {
  color: var(--gray-700);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}

.departmentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: var(--gray-300);
  padding: 3px 10px;
  border-radius: 10px;
}

.department {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
}

.abstract {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  flex-grow: 1;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.readButton {
  margin-top: auto;
  padding: 10px 10px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body);
}
