.loginContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e1e2e;
  width: 100%;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 32px;
  color: #fff;
  text-align: center;
}

.introTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.introText {
  font-size: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 24px;
  background-color: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  gap: 20px;
}

.formTitle {
  font-size: 1.3rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Desktop Media Query */
@media (min-width: 640px) {
  .loginContainer {
    flex-direction: row;
    max-width: 900px;
    height: 500px;
    min-height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .introContainer {
    flex-basis: 50%;
    border-radius: 20px 0 0 20px;
    justify-content: flex-start;
    padding: 60px 48px;
    gap: 15px;
  }

  .introTitle {
    font-size: 2rem;
  }

  .introText {
    font-size: 1rem;
  }

  .formContainer {
    flex-basis: 50%;
    border-radius: 0 20px 20px 0;
    padding: 48px;
  }

  .formTitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .form {
    gap: 24px;
  }
}
