.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-default);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: var(--color-bg);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  color: var(--color-text);
  font-size: var(--font-size-h4);
}

.logo {
  width: 50px;
  height: auto;
}

.menuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--color-text);
}

.menuButton:focus {
  outline: 0px;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.accountButtonDesktop {
  display: none;
}

.logoutButton {
  display: none;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--border-default);
  border-top: 1px solid var(--border-default);
  padding: 20px 20px;
  z-index: 1000;
  color: var(--color-text);
  font-size: var(--font-size-body);
}

.buttonMobile {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 7px;
  border: 0.5px solid var(--border-default);
  padding: 5px 10px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  width: fit-content;
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }

  .dropdownMenu {
    display: none;
  }

  .accountButtonDesktop {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 10px;
    border: 0.5px solid var(--border-default);
    padding: 6px 15px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
  }

  .logoutButton {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-radius: 10px;
    border: 0.5px solid var(--border-default);
    padding: 6px 15px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
  }
}
