.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: var(--color-background);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title {
  color: var(--color-text);
  font-size: var(--font-size-h4);
}

.logo {
  width: 40px;
  height: auto;
}

.menuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--color-text);
}

.menuButton:focus {
  outline: 0px;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
  padding: 10px 10px;
  z-index: 1000;
  color: var(--color-text);
  font-size: var(--font-size-body);
  padding: 10px 20px;
}
