.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: var(--color-bg);
  padding: 100px 20px;
  gap: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.header {
  color: var(--color-text);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

.text {
  color: var(--color-text);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-regular);
  padding-bottom: 30px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.textField {
  flex: 2;
}

.allDepartmentsButton,
.allYearButton {
  flex: 1;
}

.researchContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .page {
    padding: 100px 80px;
  }

  .researchContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .header {
    font-size: var(--font-size-h1);
  }

  .text {
    max-width: 80%;
    font-size: var(--font-size-h3);
  }
}

@media (min-width: 1280px) {
  .page {
    padding: 100px 100px;
  }
}
